@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-B';
    src: url('../fonts/Lato-Black.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Optima';
    src: url('../fonts/Optima.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
  	min-height: 929px;
  	padding-top: 0px;
  	text-align: center;
  	color: #1e1e1e;
    font-family: 'Optima';
  	font-size: 14px;
    background-color: #fff;
}

.navbar {
	border: none;
}

#big-space-menu {
    margin-bottom: 66px !important;
}

.navbar-default {
	background-color: #fff;
}

.navbar-nav {
	float: none;
    font-size: 24px;
    display: inline-block;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent !important;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #fff;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}

.navbar-default .navbar-nav>li>a {
    color: #1e1e1e;
    background-color: transparent;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #1e1e1e;
    background-color: transparent;    
}

.dropdown-subpages {
    padding: 0 0 6px;
}

.dropdown-subpages:hover {
    color: #505050;
}

.dropdown-menu {
    left: 11%;
    text-align: center !important;
    padding: 5px 10px 0px 10px;
    border-top: none;    
}

.nav>li>a {
	padding: 10px 73px;
}

#brand-home {
    margin-left: 0 !important;
    transform: translate(-50%, -14%);
    top: 50%;
    left: 50%;
    position: relative;
    margin-top: 50px;
}

.navbar-brand {
    background-image: url(../gfx/logo-intro-white-small.jpg);
    background-position: center;
    width: 375px;
    height: 116px;
    margin-left: 163px !important;
    margin-top: 30px;
}

#menu-index-1 {
    margin-right: 2px;
}

#menu-index-2 {
	margin-right: 0px;
}

#menu-index-3 {
	
}

#menu-index-4 {
	margin-right: -12px;
}

#menu-1 {
    margin-right: 2px;
}

#menu-2 {
    margin-right: 0px;
}

#menu-4 {
    margin-right: 75px;
}

#second-nav {
    font-size: 18px;
}

#submenu-2 {
    margin-left: -4px;
}

#submenu-3 {
    margin-left: -5px;
    margin-right: 12px;  
}

#submenu-4 {
    margin-left: -20px;
    margin-right: 20px;   
}

#submenu-5 {
    margin-left: -33px;
    margin-right: 24px;    
}

.colections-a-nav {
    padding: 10px 45px !important;
}

#logo-intro {
    background-image: url(../gfx/logo-intro.jpg);
    background-position: center;
    height: 54px;
    width: 687px;
}

#first-intro-p {
    font-size: 14px;
    margin-top: 100px;
    width: 50em;
    letter-spacing: 1.5px;
    word-wrap: break-word;
}

#second-intro-p {
    font-size: 14px;
    text-align: right;
    margin-top: 40px;
}

#intro-section{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#fotter-allrights {
	position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 200px;
}

#span-fotter {
	font-family: 'Lato-B';
}

.home-image-left {
    display: none;
	padding-left: 0px;
	margin-bottom: 15px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.home-image-right {
	padding-right: 0px;
    display: none;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#fotter-home {
        background-color: #c1c1c1;
    background-position: center;
    width: initial;
    height: 100%;
    margin-top: 106px;
    bottom: 0;
    left: 0;
    letter-spacing: 1px;
}

#first-f-p-intro { 
    left: 0;
    bottom: 0%;
    position: fixed;
    margin-left: 200px;
}

#first-f-p { 
    left: 0;
    bottom: -61%;
    position: absolute;
    font-size: 12px;
}

#fotter-container {
    padding-left: 6px;
}

#col-left-fotter {
    padding-left: 0px;
}

#col-right-fotter {
    margin-left: -33px;
}

.fotter-info {
    margin-bottom: 4px;
}

.col-sm-6 {
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px;
}

.col-md-4 {
    width: 56.333333%;
    margin-bottom: 16px;
    margin-right: -685px;
    margin-left: -1px;
}

#first-left-p {
    margin-bottom: 22px;
    font-size: 18px;
    margin-top: 19px;
}

#first-home-p {
    font-size: 14px;
    margin-top: 30px;
    letter-spacing: 1.5px;
    text-align: left;
}

#second-home-p {
    font-size: 14px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 50px;
}

.profile-p {
    font-size: 15px;
    width: 33em;
    word-wrap: break-word;   
}

.dropdown:hover .dropdown-menu{
    display: block;
}

@media (min-width: 427px) {

	.home-image-left {
	    display: none;
	    width: 400px;
	    height: 549px;
	    clear: both;
	    background-size: contain;
	    background-position: center;
	}

	.home-image-right {
		padding-right: 0px;
	    display: none;
	    width: 400px;
	    height: 549px;
	    clear: both;
	    background-size: contain;
	    background-position: center;
	}

}

@media (min-width: 768px){

	.navbar {
		border: none;
	}

	#big-space-menu {
	    margin-bottom: 66px !important;
	}

	.navbar-default {
		background-color: #fff;
	}

	.navbar-nav {
		float: none;
	    margin: 20px -130px -24px 16px;
	    font-size: 24px;
	    display: inline-block;
	}

    .navbar-default .navbar-nav>li>a {
        color: #1e1e1e;
        background-color: transparent;
    }

    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
        color: #1e1e1e;
        background-color: transparent;    
    }

    .dropdown-subpages {
        padding: 0 0 6px;
    }

    .dropdown-subpages:hover {
        color: #505050;
    }

    .dropdown-menu {
        left: 11%;
        text-align: center !important;
        padding: 5px 10px 0px 10px;
        border-top: none;    
    }

	.nav>li>a {
		padding: 10px 73px;
	}

	#brand-home {
	    margin-left: -17px !important;
	}

	.navbar-brand {
	    background-image: url(../gfx/logo-intro-white.jpg);
	    background-position: center;
	    width: 721px;
	    height: 55px;
	    margin-left: 163px !important;
	    margin-top: 50px;
	}

	#menu-index-1 {
	    margin-left: -224px;
    	margin-right: -122px;
	    margin-bottom: 15px;
	}

	#menu-index-2 {
		margin-right: -95px;
	    margin-bottom: 20px;
	}

	#menu-index-3 {
	    margin-left: -70px;
	}

	#menu-index-4 {
	    margin-right: -33px;
    	margin-left: -74px;
	}

	#menu-1 {
	    margin-right: 2px;
	}

	#menu-2 {
	    margin-right: 0px;
	}

	#menu-4 {
	    margin-right: 75px;
	}

	#second-nav {
	    font-size: 18px;
	}

	#submenu-2 {
	    margin-left: -4px;
	}

	#submenu-3 {
	    margin-left: -5px;
	    margin-right: 12px;  
	}

	#submenu-4 {
	    margin-left: -20px;
	    margin-right: 20px;   
	}

	#submenu-5 {
	    margin-left: -33px;
	    margin-right: 24px;    
	}

	.colections-a-nav {
	    padding: 10px 45px !important;
	}

	#logo-intro {
	    background-image: url(../gfx/logo-intro.jpg);
	    background-position: center;
	    height: 54px;
	    width: 687px;
	}

	#first-intro-p {
	    font-size: 14px;
	    margin-top: 100px;
	    width: 50em;
	    letter-spacing: 1.5px;
	    word-wrap: break-word;
	}

	#second-intro-p {
	    font-size: 14px;
	    text-align: right;
	    margin-top: 40px;
	}

	#intro-section{
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    -webkit-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	}

	#fotter-allrights {
		position: fixed;
	    bottom: 0;
	    left: 0;
	    margin-left: 200px;
	}

	#span-fotter {
		font-family: 'Lato-B';
	}

	.home-image-left {
	    display: none;
		padding-left: 0px;
	    width: 100%;
	    height: 100%;
	}

	.home-image-right {
		padding-right: 0px;
	    display: none;
	    width: 100%;
	    height: 100%;
	}

	#fotter-home {
        background-color: #c1c1c1;
	    background-position: center;
	    width: initial;
	    height: 305px;
	    margin-top: 106px;
	    bottom: 0;
	    left: 0;
	    letter-spacing: 1px;
	}

	#first-f-p-intro { 
	    left: 0;
	    bottom: 0%;
	    position: fixed;
	    margin-left: 200px;
	}

	#first-f-p { 
	    left: 0;
	    bottom: 0;
	    top: 50px;
	    position: absolute;
	    font-size: 12px;
	}

	#fotter-container {
	    padding-left: 6px;
	}

	#col-left-fotter {
	    padding-left: 0px;
	}

	#col-right-fotter {
	    margin-left: -33px;
	}

	.fotter-info {
	    margin-bottom: 4px;
	}

	.col-sm-6 {
	    text-align: left;
	}

	.col-md-4 {
	    width: 56.333333%;
	    margin-bottom: 16px;
	    margin-right: -685px;
	    margin-left: -1px;
	}

	#first-left-p {
	    margin-bottom: 22px;
	    font-size: 18px;
	    margin-top: 19px;
	}

	#first-home-p {
	    font-size: 14px;
	    margin-top: 34px;
	    letter-spacing: 1.5px;
	    text-align: left;
	}

	#second-home-p {
	    font-size: 14px;
	    text-align: left;
	    margin-top: 40px;
	}

	.profile-p {
	    font-size: 15px;
	    width: 33em;
	    word-wrap: break-word;   
	}

}

@media (min-width: 992px){

	.navbar {
		border: none;
	}

	#big-space-menu {
	    margin-bottom: 66px !important;
	}

	.navbar-default {
		background-color: #fff;
	}

	.navbar-nav {
		float: none;
	    margin: 20px -110px -12px 86px;
	    font-size: 24px;
	    display: inline-block;
	}

    .navbar-default .navbar-nav>li>a {
        color: #1e1e1e;
        background-color: transparent;
    }

    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
        color: #1e1e1e;
        background-color: transparent;    
    }

    .dropdown-subpages {
        padding: 0 0 6px;
    }

    .dropdown-subpages:hover {
        color: #505050;
    }

    .dropdown-menu {
        left: 11%;
        text-align: center !important;
        padding: 5px 10px 0px 10px;
        border-top: none;    
    }

	.nav>li>a {
		padding: 10px 73px;
	}

	#brand-home {
	    margin-left: -15px !important;
	}

	.navbar-brand {
	    background-image: url(../gfx/logo-intro-white.jpg);
	    background-position: center;
	    width: 721px;
	    height: 55px;
	    margin-left: -163px !important;
	    margin-top: 50px;
	}

	#menu-index-1 {
	    margin-right: -60px;
	}

	#menu-index-2 {
		margin-right: -60px;
	}

	#menu-index-3 {
		
	}

	#menu-index-4 {
		margin-right: -12px;
	}

	#menu-1 {
	    margin-right: 2px;
	}

	#menu-2 {
	    margin-right: 0px;
	}

	#menu-4 {
	    margin-right: 75px;
	}

	#second-nav {
	    font-size: 18px;
	}

	#submenu-2 {
	    margin-left: -4px;
	}

	#submenu-3 {
	    margin-left: -5px;
	    margin-right: 12px;  
	}

	#submenu-4 {
	    margin-left: -20px;
	    margin-right: 20px;   
	}

	#submenu-5 {
	    margin-left: -33px;
	    margin-right: 24px;    
	}

	.colections-a-nav {
	    padding: 10px 33px !important;
	}

	#logo-intro {
	    background-image: url(../gfx/logo-intro.jpg);
	    background-position: center;
	    height: 54px;
	    width: 687px;
	}

	#first-intro-p {
	    font-size: 14px;
	    margin-top: 100px;
	    width: 50em;
	    letter-spacing: 1.5px;
	    word-wrap: break-word;
	}

	#second-intro-p {
	    font-size: 14px;
	    text-align: right;
	    margin-top: 40px;
	}

	#intro-section{
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    -webkit-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	}

	#fotter-allrights {
		position: fixed;
	    bottom: 0;
	    left: 0;
	    margin-left: 200px;
	}

	#span-fotter {
		font-family: 'Lato-B';
	}

	.home-image-left {
	    display: none;
		padding-left: 0px;
	    width: 100%;
	    height: 100%;
	}

	.home-image-right {
		padding-right: 0px;
	    display: none;
	    width: 100%;
	    height: 100%;
	}

	#fotter-home {
	    background-color: #c1c1c1;
	    background-position: center;
	    width: initial;
	    height: 285px;
	    margin-top: 106px;
	    bottom: 0;
	    left: 0;
	    letter-spacing: 1px;
	}

	#first-f-p-intro { 
	    left: 0;
	    bottom: 0%;
	    position: fixed;
	    margin-left: 200px;
	}

	#first-f-p { 
	    left: 0;
	    bottom: -61%;
	    position: absolute;
	    font-size: 12px;
	}

	#fotter-container {
	    padding-left: 6px;
	}

	#col-left-fotter {
	    padding-left: 0px;
	}

	#col-right-fotter {
	    margin-left: -33px;
	}

	.fotter-info {
	    margin-bottom: 4px;
	}

	.col-sm-6 {
	    text-align: left;
	}

	.col-md-4 {
	    width: 56.333333%;
	    margin-bottom: 16px;
	    margin-right: -685px;
	    margin-left: -1px;
	}

	#first-left-p {
	    margin-bottom: 22px;
	    font-size: 18px;
	    margin-top: 19px;
	}

	#first-home-p {
	    font-size: 14px;
	    margin-top: 34px;
	    letter-spacing: 1.5px;
	    text-align: left;
	}

	#second-home-p {
	    font-size: 14px;
	    text-align: left;
	    margin-top: 40px;
	}

	.profile-p {
	    font-size: 15px;
	    width: 33em;
	    word-wrap: break-word;   
	}
}

@media (min-width: 1200px){

	.navbar {
		border: none;
	}

	#big-space-menu {
	    margin-bottom: 66px !important;
	}

	#client-space-menu {
		margin-bottom: 30px !important;
	}

	.navbar-default {
		background-color: #fff;
	}

	#first-nav {
		margin-bottom: -28px;
	}

	.navbar-nav {
		float: none;
	    margin: 20px -150px -12px 34px;
	    font-size: 24px;
	    display: inline-block;
	}

	.navbar-default .navbar-nav>li>a {
	    color: #1e1e1e;
        background-color: transparent;
    	margin-right: 68px;
	}

    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
        color: #1e1e1e;
        background-color: transparent;    
    }

    .dropdown-subpages-1 {
        padding: 0 0 6px;
        min-width: 69px;
    	display: table-cell;
    }

    .dropdown-subpages-1:hover {
        color: #505050;
    }

    .dropdown-subpages-2 {
        padding: 0 0 6px;
        min-width: 134px;
    	display: table-cell;
    }

    .dropdown-subpages-3:hover {
        color: #505050;
    }

    .dropdown-subpages-3 {
        padding: 0 0 6px;
        min-width: 122px;
    	display: table-cell;
    }

    .dropdown-subpages-3:hover {
        color: #505050;
    }

    .dropdown-subpages-4 {
        padding: 0 0 6px;
    	display: table-cell;
        min-width: 223px;
    }

    .dropdown-subpages-4:hover {
        color: #505050;
    }

    .dropdown-subpages-5 {
        padding: 0 0 6px;
        display: table-cell;
        min-width: 280px;
    }

    .dropdown-subpages-5:hover {
        color: #505050;
    }

    .dropdown-subpages-6 {
        padding: 0 0 6px;
        display: table-cell;
    	min-width: 260px;
    }

    .dropdown-subpages-6:hover {
        color: #505050;
    }

    .dropdown-menu {
        font-size: 18px;
	    box-shadow: none;
    	border: none;
        left: -85%;
	    text-align: center !important;
	    padding: 15px 10px 0px 10px;
	    border-top: none;  
    }

	.nav>li>a {
		padding: 10px 73px;
	}

	#brand-home {
	    margin-left: -30px !important;
	}

	#brand-profile {
	    margin-left: 130px !important;
	    transform: translate(-50%, -14%);
	    top: 50%;
	    left: 50%;
	    position: relative;
	    margin-top: 50px;
	}

	#brand-contact {
	    margin-left: 130px !important;
	    transform: translate(-50%, -14%);
	    top: 50%;
	    left: 50%;
	    position: relative;
	    margin-top: 50px;
	}

	.navbar-brand {
	    background-image: url(../gfx/logo-intro-white.png);
	    background-position: center;
	    width: 572px;
        height: 44px;
	    margin-left: 163px !important;
	    margin-top: 50px;
	}

	#menu-index-1 {
	    margin-right: 0px;
	    margin-left: -276px;
	}

    #menu-index-active {
        margin-right: 0px;
        margin-left: -276px;
        color: #c1c1c1;
    }

    #menu-client-active {
        color: #c1c1c1;        
    }

	#menu-index-3 {
	    margin-right: 83px;	
	}

    #menu-insta-active {
        margin-right: 83px;
        color: #c1c1c1;
    }

	#menu-index-4 {
	    margin-right: -6px;
	    margin-left: -86px;
	}

    #menu-contact-active {
        margin-right: -6px;
        margin-left: -86px;
        color: #c1c1c1;
    }

	#menu-1 {
	    margin-right: 2px;
	}

	#menu-2 {
	    margin-right: 0px;
	}

	#menu-4 {
	    margin-right: 75px;
	}

	#second-nav {
	    font-size: 18px;
		margin-left: -199px;
	}

	#submenu-1 {
		margin: 0px;
	}

	#submenu-1436 {
		margin: 0px;
        color: #c1c1c1;
	}

	#submenu-2 {
		margin: 0px;
	}

	#submenu-3 {
		margin: 0px;
	}

	#submenu-4 {
		margin: 0px; 
	}

	#submenu-5 {
		margin: 0px;
	}

	.colections-a-nav {
	    padding: 10px 33px !important;
        display: inline-block !important;
	}

	#logo-intro {
	    background-image: url(../gfx/logo-intro.png);
	    background-position: center;
	    height: 58px;
    	width: 769px;
        zoom: 126%;
	}

	#first-intro-p {
	    font-size: 14px;
	    margin-top: 100px;
	    width: 50em;
	    letter-spacing: 1.5px;
	    word-wrap: break-word;
	}

	#second-intro-p {
	    font-size: 14px;
	    text-align: right;
	    margin-top: 40px;
	}

	#intro-section{
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    -webkit-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	}

	#fotter-allrights {
		position: fixed;
	    bottom: 0;
	    left: 0;
	    margin-left: 200px;
	}

	#span-fotter {
		font-family: 'Lato-B';
	}

	.home-image-left {
	    display: none;
		padding-left: 14px;
	    width: 558px;
	    height: 749px;
	}

	.home-image-right {
		padding-right: 23px;
	    display: none;
	    width: 570px;
	    height: 749px;
	}

	#fotter-home {
        background-color: #c1c1c1;
	    background-position: center;
	    width: initial;
	    height: 285px;
	    margin-top: 106px;
	    bottom: 0;
	    left: 0;
	    letter-spacing: 1px;
	}

	#first-f-p-intro { 
	    left: 0;
	    bottom: 0%;
	    position: fixed;
	    margin-left: 200px;
	}

	#first-f-p { 
    	left: -27%;
        bottom: 50%;
        position: relative;
        font-size: 12px;
	}

	#fotter-container {
	    padding-left: 6px;
	}

	#col-left-fotter {
	    padding-left: 0px;
	}

	#col-right-fotter {
	    margin-left: -33px;
	}

	.fotter-info {
	    margin-bottom: 4px;
	}

	#left-profile-column {
		margin-left: -20px;
	}

	.col-sm-6 {
	    text-align: left;
	}

	.col-md-4 {
	    margin-left: 3.7%;
	    float: left;
	    width: 25.8%;
	    margin-right: -0.2%;
	}

	#first-left-p {
	    margin-bottom: 22px;
	    font-size: 18px;
	    margin-top: 19px;
	}

	#first-home-p {
	    font-size: 14px;
	    margin-top: 34px;
	    letter-spacing: 1.5px;
	    text-align: left;
	}

	#second-home-p {
	    font-size: 14px;
	    text-align: left;
	    margin-top: 40px;
	}

	.profile-p {
	    font-size: 15px;
	    width: 33em;
	    word-wrap: break-word;
	    margin-bottom: 34px;
	}

    .form-control {
        width: 325px;
    }

    .required-span {
        color:red;
        margin-left: 4px;
    }

    .btn-default {
        color: #fff;
        background-color: #f05340;
        border: none;
        padding: 6px 20px;
    }

    .btn-default:hover {
        color: #fff;
        background-color: #f05340;
        border: none;
    }

    .btn-default:focus {
        color: #fff;
        background-color: #f05340;
        border: none;
    }

    #textarea-form {
        width: 470px;
    }

    #contact-image {
        margin-left: 6px;
    }

    #image-second-row {
    	margin-left: -67px;
    }

    #video-col {
    	width: 70.666667%;
    }

    .row {
	    width: 100%;
	    max-width: 1280px;
	    min-width: 320px;
	    margin: 0 auto;
	    clear: both;
    }

    .form-group {
    	margin-bottom: 45px;
    }

    #insta-image {
        width: 100%;
        height: 100%;
    }

    .mySlides {
        margin-top: 34px;
        margin-bottom: 125px;
        text-transform: uppercase;
    }
}